{% extends "core/base.html" %}

{% block content %}



{% if user.is_authenticated %}
     <h1>Logged in already</h1>
     <h1>User: {{ user.get_username }}</h1>
     <h3><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></h3>

   {% else %}


     <h1>Sign in please</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p></p>
    {% else %}
    <p></p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

   {% endif %}

<h2><a href="{% url "core:mainpg"  %}">Back</a></h2>

{% endblock %}